html {
    background-color: #20a2a8;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    font-family: "Work Sans", sans-serif;
    color: white;
    width: 100%;
    min-height: 100%;
    font-size: 1.3em;
}

body {
    margin: 0;
    padding: 0;
}

.flexc {
    margin: 1.1em;
}

h1 {
    margin-top: 0em;
    font-size: 1.4em;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

h2 {
    color: #ffb100;
    margin-top: -.3em;
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
    letter-spacing: .1em;
}

h3 {
    text-align: center;
    font-size: .85em;
    animation-name: hmm;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    font-weight: 300;
    color: #fff;
}

a:active {
    text-decoration: none;
}

#headerz {
    padding: 1.3em;
}

@keyframes hmm {
    0% {
        opacity: 0;
    }

    5% {
        opacity: .2;
    }

    50% {
        opacity: 1;
    }
    85% {
        opacity: .8;
    }

    100% {
        opacity: 0;
    }
}

header {
    background: white;
    width: 100%;
    height: 100%;
    margin-top: -1em;
}

header a:active {
    text-decoration: none;
}

img {
    padding-top: 1.5em;
    padding-bottom: .2em;
    padding-left: .4em;
    width: 3em;
}

.profile {
    float: right;
    width: 1.2em;
    padding-right: .6em;

}

form {
    padding-bottom: .7em;
    font-size: 1.6em;
    font-weight: 300;
}

section {
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: 200;
}

select {
    float: right;
    width: 50%;
    min-height: 1.85em;
    font-size: .6em;
    padding-left: .6em;
    border-color: rgba(132, 132, 132, 0.33);
    color: #000;
    border-radius: .3em;
}

#map {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

button {
    align-items: center;
    padding: .5em;
    width: 100%;
    font-size: 1.6em;
    background: #ffb100;
    color: white;
    font-weight: 400;
    border: black 0em;
    cursor: pointer;
    margin-top: 1.2em;
    border-radius: 2%;
}

a {
    color: white;
    text-decoration: none;
}

button:hover {
    background: rgba(255, 177, 0, 0.84);
}

/* Custommin-ize the label (the container) */

.container {
    color: white;
    display: block;
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 200;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2em;
    ;
    width: 1.2em;
    background-color: #eee;
    border-radius: .2em;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
    border: #000;
}

/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #ffb100;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: .48em;
    top: .25em;
    width: .2em;
    height: .5em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#welcome {
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 442px) {
    html {
        font-size: 2.3em;
    }

    #welcome {
        padding: 3em;
    }

    img {
        padding-top: 1.5em;
        padding-bottom: .4em;
        padding-left: .7em;
        width: 4em;
    }

    .profile {
        float: right;
        width: 1.6em;
        padding-right: .6em;
    }
}
